:root {
        --ratio: calc(1.333);
        --viewport-width: calc(1280);
        --viewport-baseline: calc(16);
        --viewport-start: calc(((var(--viewport-baseline) / var(--viewport-width)) * 100) * 1vw);
        --font-size-1: calc((15 / 16) * 1rem);
        --font-size-2: calc(var(--font-size-1) * var(--ratio));
        --font-size-3: calc(var(--font-size-2) * var(--ratio));
        --font-size-4: calc(var(--font-size-3) * var(--ratio));
        --font-size-5: calc(var(--font-size-4) * var(--ratio));
        --font-size-6: calc(var(--font-size-5) * var(--ratio));
        --font-size-7: calc(var(--font-size-6) * var(--ratio));
        --font-size-8: calc(var(--font-size-7) * var(--ratio));
        --font-size-9: calc(var(--font-size-8) * var(--ratio));
        --font-size-10: calc((12 / 16) * 1rem);
        --font-size-11: calc((13 / 16) * 1rem);
        --line-height-1: 1;
        --line-height-2: 1.25;
        --line-height-3: 1.5;
        --line-height-4: 1.75;
        --line-height-5: 2;
        --line-height-6: 2.25;
        --line-height-7: 2.5;
        --line-height-8: 2.75;
        --margin-1: var(--font-size-1);
        --margin-2: var(--font-size-2);
        --margin-3: var(--font-size-3);
        --margin-4: var(--font-size-4);
        --margin-5: var(--font-size-5);
        --margin-6: var(--font-size-6);
        --spacer-1: calc(var(--font-size-1) / 2);
        --spacer-2: calc(var(--font-size-1));
        --spacer-3: calc(var(--font-size-1) / 2 * 3);
        --spacer-4: calc(var(--font-size-1) * 2);
        --spacer-5: calc(var(--font-size-1) / 2 * 5);
        --spacer-6: calc(var(--font-size-1) * 3);
        --baseline-1: calc(var(--font-size-1) / 2);
        --baseline-2: calc(var(--font-size-1));
        --baseline-3: calc(var(--font-size-1) / 2 * 3);
        --baseline-4: calc(var(--font-size-1) * 2);
        --baseline-5: calc(var(--font-size-1) / 2 * 5);
        --baseline-6: calc(var(--font-size-1) * 3);
        --baseline-7: calc(var(--font-size-1) / 2 * 7);
        --baseline-8: calc(var(--font-size-1) * 4);
        --baseline-9: calc(var(--font-size-1) / 2 * 9);
        --baseline-10: calc(var(--font-size-1) * 5);
        --baseline-11: calc(var(--font-size-1) / 2 * 11);
        --baseline-12: calc(var(--font-size-1) * 6);
        --baseline-13: calc(var(--font-size-1) / 2 * 13);
        --baseline-14: calc(var(--font-size-1) * 7);
        --baseline-15: calc(var(--font-size-1) / 2 * 15);
        --baseline-16: calc(var(--font-size-1) * 8);
        --viewport-1: calc(var(--viewport-start) / 2);
        --viewport-2: calc(var(--viewport-start));
        --viewport-3: calc(var(--viewport-start) / 2 * 3);
        --viewport-4: calc(var(--viewport-start) * 2);
        --viewport-5: calc(var(--viewport-start) / 2 * 5);
        --viewport-6: calc(var(--viewport-start) * 3);
        --viewport-7: calc(var(--viewport-start) / 2 * 7);
        --viewport-8: calc(var(--viewport-start) * 4);
        --viewport-9: calc(var(--viewport-start) / 2 * 9);
        --viewport-10: calc(var(--viewport-start) * 5);
        --viewport-11: calc(var(--viewport-start) / 2 * 11);
        --viewport-12: calc(var(--viewport-start) * 6);
        --viewport-13: calc(var(--viewport-start) / 2 * 13);
        --viewport-14: calc(var(--viewport-start) * 7);
    }

h1 {
    font-size: var(--font-size-9);
    line-height: var(--line-height-1);
    margin: 0;
}

h2 {
    font-size: var(--font-size-4);
    line-height: var(--line-height-2);
    margin: 0;
}

h3 {
    font-size: var(--font-size-3);
    line-height: var(--line-height-3);
    margin: 0;
}

h4 {
    font-size: var(--font-size-2);
    line-height: var(--line-height-2);
    margin: 0;
}

h5 {
    font-size: var(--font-size-1);
    line-height: var(--line-height-1);
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

p, body {
    font-size: var(--font-size-1);
    line-height: var(--line-height-4);
}

/* Font styles */
.title-page {font-size: clamp(3.60rem, 5.333vw, 4.80rem);}
.link-underline {font-size: clamp(0.90rem, 1.333vw, 1.20rem);}
.section-header {font-size: clamp(2.00rem, 3.333vw, 3.00rem);}
.highlights-lead {font-size: clamp(1.00rem, 1.667vw, 1.50rem);}
.highlights-heading {font-size: clamp(2.00rem, 3.333vw, 3.00rem);}
.par-small{font-size: clamp(0.72rem, 1.067vw, 0.96rem);}
.sum-lead {font-size: clamp(1.13rem, 1.667vw, 1.50rem);}
.sum-headers {font-size: clamp(0.90rem, 1.333vw, 1.20rem);}
.contact-description {font-size: clamp(0.63rem, 0.933vw, 0.84rem);}

/* Copy message */
.copy-kopie:hover::after {
    content:"kopieer";
    position: absolute;
    top: -5px;
    right: 25px;
    font-size: var(--font-size-10);
    background-color: #f28825;
    color: #fff;
    padding: 0.15rem 0.46rem;
    border-radius: 5px;
}

.copy-maps:hover::after {
    content:"maps";
    position: absolute;
    top: -5px;
    right: 25px;
    font-size: var(--font-size-10);
    background-color: #f28825;
    color: #fff;
    padding: 0.15rem 0.46rem;
    border-radius: 5px;
}

@media screen and (max-width: 767px) {
    .copy-kopie:hover::after {
        content:"kopieer";
        position: absolute;
        top: -5px;
        right: -65px;
        font-size: var(--font-size-10);
        background-color: #f28825;
        color: #fff;
        padding: 0.15rem 0.46rem;
        border-radius: 5px;
    }

    .copy-maps:hover::after {
        content:"maps";
        position: absolute;
        top: -5px;
        right: -55px;
        font-size: var(--font-size-10);
        background-color: #f28825;
        color: #fff;
        padding: 0.15rem 0.46rem;
        border-radius: 5px;
    }
}

/* Navigation */
.navbar {
    padding: var(--baseline-2) clamp(var(--baseline-2), var(--viewport-10), var(--baseline-10));
}

.nav-item {
    font-size: var(--font-size-10);
}

/* Hero */
.subtitle {
    font-size: var(--font-size-3);
}

/* Content section */

.content-section {
    padding: var(--baseline-8) clamp(var(--baseline-2), var(--viewport-10), var(--baseline-10));
}

.grid-story, .grid-images-break {
    grid-column-gap: var(--baseline-8);
    grid-row-gap: 0;
}

border-bottom: 2px;
border-color: #aaaaaa

/* Footer */
